In [45]:
import pandas as pd
data = pd.read_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Data Viz/Project/data/Crimes_-_2001_to_Present.csv", nrows = 500000)
sorted_data = data.sort_values("Year").reset_index(drop = True)
sliced_data = sorted_data[sorted_data["Year"] >= 2015]
sliced_data = sliced_data[["ID","Year"] + [col for col in sliced_data.columns if col != "ID" and col != "Year"]]
sliced_data.head()

,ID,Year,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Updated On,Latitude,Longitude,Location
395177,21980,2015,HY342488,07/16/2015 12:17:00 AM,013XX N LOCKWOOD AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,...,25,37.0,25.0,01A,1140785.0,1908250.0,09/19/2022 03:41:05 PM,41.904323,-87.758302,"(41.904323426, -87.758302186)"
395178,10088178,2015,HY231634,04/22/2015 12:30:00 PM,034XX W LAKE ST,2014,NARCOTICS,MANU/DELIVER: HEROIN (WHITE),SIDEWALK,True,...,11,28.0,27.0,18,NaN,NaN,04/30/2019 04:05:35 PM,NaN,NaN,NaN
395179,22006,2015,HY361399,07/30/2015 04:00:00 AM,003XX E 120TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,...,5,9.0,53.0,01A,1180212.0,1825451.0,09/19/2022 03:41:05 PM,41.676299,-87.616015,"(41.676298724, -87.616014618)"
395180,22047,2015,HY393931,08/23/2015 06:13:00 AM,015XX N AVERS AVE,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,...,25,30.0,23.0,01A,1150424.0,1910011.0,09/19/2022 03:41:05 PM,41.908973,-87.722849,"(41.908973017, -87.722849178)"
395181,10315413,2015,HY504461,11/17/2015 07:58:00 AM,043XX W ADAMS ST,0560,ASSAULT,SIMPLE,STREET,True,...,11,28.0,26.0,08A,1147592.0,1898661.0,02/10/2018 03:50:01 PM,41.877882,-87.733544,"(41.877882222, -87.73354419)"

In [13]:
sliced_data.to_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Data Viz/Project/data/Crimes_-_2015_to_Present_Subset.csv", index = False)

In [44]:
real_data = pd.read_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Data Viz/Project/data/Crimes_-_2001_to_Present.csv", low_memory = False)
real_data.shape

(8445290, 22)

In [31]:
real_data.sort_values("Year", inplace = True)
real_data.reset_index(drop = True, inplace = True)
year_2015_start = real_data[real_data["Year"] == 2015].index[0]
year_2025_end = real_data[real_data["Year"] == 2025].index[-1]

In [32]:
year_2015_start

np.int64(5719839)

In [34]:
year_2025_end

np.int64(8445289)

In [36]:
total_2015_2025 = year_2025_end - year_2015_start + 1
total_2015_2025

np.int64(2725451)

In [30]:
year_row_info = {}
for year in real_data["Year"].unique():
    row_start = int(real_data[real_data["Year"] == year].index[0])
    row_end = int(real_data[real_data["Year"] == year].index[-1])
    total_rows = row_end - row_start + 1
    year_row_info[int(year)] = {
        "Starting row": row_start, 
        "Ending row": row_end,
        "Total rows": total_rows
    }

for year, info in year_row_info.items():
    print(f"Year{year}: {info}")

Year2001: {'Starting row': 0, 'Ending row': 485955, 'Total rows': 485956}
Year2002: {'Starting row': 485956, 'Ending row': 972784, 'Total rows': 486829}
Year2003: {'Starting row': 972785, 'Ending row': 1448781, 'Total rows': 475997}
Year2004: {'Starting row': 1448782, 'Ending row': 1918222, 'Total rows': 469441}
Year2005: {'Starting row': 1918223, 'Ending row': 2372007, 'Total rows': 453785}
Year2006: {'Starting row': 2372008, 'Ending row': 2820204, 'Total rows': 448197}
Year2007: {'Starting row': 2820205, 'Ending row': 3257310, 'Total rows': 437106}
Year2008: {'Starting row': 3257311, 'Ending row': 3684523, 'Total rows': 427213}
Year2009: {'Starting row': 3684524, 'Ending row': 4077385, 'Total rows': 392862}
Year2010: {'Starting row': 4077386, 'Ending row': 4447946, 'Total rows': 370561}
Year2011: {'Starting row': 4447947, 'Ending row': 4799992, 'Total rows': 352046}
Year2012: {'Starting row': 4799993, 'Ending row': 5136359, 'Total rows': 336367}
Year2013: {'Starting row': 5136360, 'Ending row': 5443965, 'Total rows': 307606}
Year2014: {'Starting row': 5443966, 'Ending row': 5719838, 'Total rows': 275873}
Year2015: {'Starting row': 5719839, 'Ending row': 5984716, 'Total rows': 264878}
Year2016: {'Starting row': 5984717, 'Ending row': 6254658, 'Total rows': 269942}
Year2017: {'Starting row': 6254659, 'Ending row': 6523934, 'Total rows': 269276}
Year2018: {'Starting row': 6523935, 'Ending row': 6793056, 'Total rows': 269122}
Year2019: {'Starting row': 6793057, 'Ending row': 7054731, 'Total rows': 261675}
Year2020: {'Starting row': 7054732, 'Ending row': 7267397, 'Total rows': 212666}
Year2021: {'Starting row': 7267398, 'Ending row': 7477011, 'Total rows': 209614}
Year2022: {'Starting row': 7477012, 'Ending row': 7716953, 'Total rows': 239942}
Year2023: {'Starting row': 7716954, 'Ending row': 7980132, 'Total rows': 263179}
Year2024: {'Starting row': 7980133, 'Ending row': 8238956, 'Total rows': 258824}
Year2025: {'Starting row': 8238957, 'Ending row': 8445289, 'Total rows': 206333}

In [39]:
sliced_real_data = real_data[real_data["Year"] >= 2020]
sliced_real_data = sliced_real_data[["ID","Year"] + [col for col in sliced_real_data.columns if col != "ID" and col != "Year"]]
sliced_real_data.to_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Data Viz/Project/data/Crimes_-_2020_to_Real_Present_Subset.csv", index = False)
sliced_real_data.shape

(1390558, 22)

In [42]:
years = sorted(real_data["Year"].unique())

for i in range(len(years) - 1):
    year1 = years[i]
    year2 = years[i + 1]

    sliced = real_data[(real_data["Year"] >= year1) & (real_data["Year"] < year2)]
    sliced = sliced[["ID","Year"] + [col for col in sliced_real_data.columns if col != "ID" and col != "Year"]]

    filename = f"/Users/rohityadav/Desktop/Assignments/Sem 3/Data Viz/Project/data/year wise/Crimes_{year1}_to_{year2}.csv"
    sliced.to_csv(filename, index = False)

    print(f"Saved: Crimes_{year1}_to_{year2}.csv - {sliced.shape[0]} rows")

Saved: Crimes_2001_to_2002.csv - 485956 rows
Saved: Crimes_2002_to_2003.csv - 486829 rows
Saved: Crimes_2003_to_2004.csv - 475997 rows
Saved: Crimes_2004_to_2005.csv - 469441 rows
Saved: Crimes_2005_to_2006.csv - 453785 rows
Saved: Crimes_2006_to_2007.csv - 448197 rows
Saved: Crimes_2007_to_2008.csv - 437106 rows
Saved: Crimes_2008_to_2009.csv - 427213 rows
Saved: Crimes_2009_to_2010.csv - 392862 rows
Saved: Crimes_2010_to_2011.csv - 370561 rows
Saved: Crimes_2011_to_2012.csv - 352046 rows
Saved: Crimes_2012_to_2013.csv - 336367 rows
Saved: Crimes_2013_to_2014.csv - 307606 rows
Saved: Crimes_2014_to_2015.csv - 275873 rows
Saved: Crimes_2015_to_2016.csv - 264878 rows
Saved: Crimes_2016_to_2017.csv - 269942 rows
Saved: Crimes_2017_to_2018.csv - 269276 rows
Saved: Crimes_2018_to_2019.csv - 269122 rows
Saved: Crimes_2019_to_2020.csv - 261675 rows
Saved: Crimes_2020_to_2021.csv - 212666 rows
Saved: Crimes_2021_to_2022.csv - 209614 rows
Saved: Crimes_2022_to_2023.csv - 239942 rows
Saved: Crimes_2023_to_2024.csv - 263179 rows
Saved: Crimes_2024_to_2025.csv - 258824 rows